.chinh {
    -fx-background-image: url("https://a-static.besthdwallpaper.com/sunrise-anime-scenery-art-wallpaper-2560x1600-90530_7.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}